.jumbotron {
    background-color: transparent;
    color: rgb(236, 170, 3);
    backface-visibility: visible;
    border: solid rgb(236, 170, 3);
    margin-bottom: 15px;
    text-emphasis: bold;
    text-shadow: black;
}


body {
    background-image: url(/Users/jaclynhardy/Documents/Bootcamp/Projects/Train-Time/assets/images/images-3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#train-table th,td {
      display: inline-block;
      width: 16.575%;
    }

.train-schedule {
    background-color: transparent;
    color: rgb(236, 170, 3);
    backface-visibility: visible;
    border: solid rgb(236, 170, 3);
    text-emphasis: bold;
    margin-bottom: 15px;
}

.card-header {
    text-align: center;
    color: rgb(236, 170, 3);
    text-emphasis: bold;
    text-size-adjust: 50%;
}

.row {
    background-color: transparent;
    color: rgb(236, 170, 3);
    border: solid rgb(236, 170, 3);
    text-emphasis: bold;
    margin-bottom: 15px;
}

.form {
    max-width: 100%;
}




